body {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #000000;
  font-size: 0.9rem;
}

.gradient1 {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-repeat: no-repeat;
}

.a {
  color: #eeeeee !important;
  text-decoration: none !important;
}

.feather {
  width: 32px;
  height: 32px;
  color: #000000;
}


.simvuewhite {
font-size: 1.0rem;
}

.btn-primary {
  color: #fff;
  background-color: #4e73df;
  border-color: #4e73df;
}

.a:hover .a:focus {
  text-decoration: none !important;
}

.logo {
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

.feather-16{
width: 16px;
height: 16px;
}

th {
  font-weight: 600;
}

.fw-bold {
  font-weight: 600 !important;
}


.bg-primary {
  background-color: #4e73df !important;
}

.text-primary {
  color: #4e73df !important;
}

.nav-secondary {
  display: block;
  border-bottom: 1px solid #777777;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link:hover .feather,
.nav-link:hover {
  color: #ffffff;
  text-decoration: none;
}

.nav3 {
  color: #000000 !important;
  text-decoration: none;
  transition: none !important;
}

.nav-link.active .feather,
.nav-link.active {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
}

.nav-link .feather,
.nav-link,
.nav-link {
  color: #ccd0d4;
  text-decoration: none;
}

.nav-secondary .nav-link:hover {
  color: #444444;
  text-decoration: none;
}

.nav-secondary .nav-link {
  color: #777777;
  text-decoration: none;
}

.text-muted-more {
  color: #aaaaaa;
}

.nav-secondary .active {
  font-weight: 700;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.close:hover {
  color: #000;
  text-decoration: none;
}

.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
  opacity: .75;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
}

pre{
  background-color: #e8e9ec;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #3a3b45;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #2e2f37;
  text-decoration: none;
  background-color: #eaecf4;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #4e73df;
}

.modal-header {
  background-color: #ebf5fb;
}

